body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0 auto;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.red-suit {
    color: red;
}

.black-suit {
    color: black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#dealer,
#userCards {
    margin-bottom: 20px;
}

#dealer p,
#userCards p {
    padding: 4px 2px;
    border: solid 1px #000;
    display: inline-block;
    margin: 5px;
    font-size: 20px;
    border-radius: 2px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#hit {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}

#hit:hover {
    background-color: #45a049;
}

#stand {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
}

#stand:hover {
    background-color: #d32f2f;
}

#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#dealerTotal,
#userTotal {
    font-size: 18px;
    font-weight: bold;
}
